In [121]:
import json
import numpy as np
import pandas as pd

from collections import defaultdict

In [122]:
movie_db_directory = "../datasets/tmdb/movie_db"

In [123]:
movies = []

with open(movie_db_directory, "r") as movie_data:
    lines = movie_data.readlines()
    
    for line in lines:
        movie_id, movie_title, movie_genres, movie_rating = json.loads(line)["id"], json.loads(line)["title"], json.loads(line)["genres"], json.loads(line)["rating"]
        movies.append({"id": movie_id, "title": movie_title, "genres": movie_genres, "rating": movie_rating})

In [124]:
len(movies)

901417

In [125]:
movies_df = pd.DataFrame(movies)

movies_df

,id,title,genres,rating
0,3924,Blondie,"[Comedy, Family]",7.063
1,6124,"Peter Voss, Thief of Millions",[Adventure],0.000
2,8773,Love at Twenty,"[Drama, Romance]",6.674
3,25449,New World Disorder 9: Never Enough,[],6.000
4,31975,Sesame Street: Elmo Loves You!,[Family],0.000
...,...,...,...,...
901412,1255060,Imago,[],0.000
901413,1255061,Justice League: TaskForce (Part One),[],0.000
901414,1255062,Demon Castle,[],0.000
901415,1255063,"Grounds of Coherence #1, but this is the langu...",[],0.000
901416,1255064,Fort-Da Game,[Drama],0.000

In [128]:
movies_df["genres"]

0         [Comedy, Family]
1              [Adventure]
2         [Drama, Romance]
3                       []
4                 [Family]
                ...
901412                  []
901413                  []
901414                  []
901415                  []
901416             [Drama]
Name: genres, Length: 901417, dtype: object

In [139]:
movies_df["genres_str"] = ["|".join(map(str, l)) for l in movies_df["genres"]]
movies_df.drop(columns = ["genres"], axis = 1)
movies_df

,id,title,genres,rating,genres_str
0,3924,Blondie,"[Comedy, Family]",7.063,Comedy|Family
1,6124,"Peter Voss, Thief of Millions",[Adventure],0.000,Adventure
2,8773,Love at Twenty,"[Drama, Romance]",6.674,Drama|Romance
3,25449,New World Disorder 9: Never Enough,[],6.000,
4,31975,Sesame Street: Elmo Loves You!,[Family],0.000,Family
...,...,...,...,...,...
901412,1255060,Imago,[],0.000,
901413,1255061,Justice League: TaskForce (Part One),[],0.000,
901414,1255062,Demon Castle,[],0.000,
901415,1255063,"Grounds of Coherence #1, but this is the langu...",[],0.000,
901416,1255064,Fort-Da Game,[Drama],0.000,Drama

In [89]:
# number of movies with no listed genre
condition = movies_df["genres"].map(len) == 0
movies_df[condition]

,id,title,genres,rating
3,25449,New World Disorder 9: Never Enough,[],6.0
422,538,Janine F.,[],5.0
1863,2802,De Arm Van Jezus,[],0.0
2045,3094,Elated By Night,[],0.0
2144,3398,Rich and Scary: Independent Soap Movie Experience,[],0.0
...,...,...,...,...
901410,1255058,Disney Parks Magical Christmas Day Parade,[],0.0
901412,1255060,Imago,[],0.0
901413,1255061,Justice League: TaskForce (Part One),[],0.0
901414,1255062,Demon Castle,[],0.0
901415,1255063,"Grounds of Coherence #1, but this is the langu...",[],0.0

In [61]:
movies_df.loc[condition, "genres"] = "NonGiven"
movies_df

,id,title,genres,rating
0,3924,Blondie,"[Comedy, Family]",7.063
1,6124,"Peter Voss, Thief of Millions",[Adventure],0.000
2,8773,Love at Twenty,"[Drama, Romance]",6.674
3,25449,New World Disorder 9: Never Enough,NonGiven,6.000
4,31975,Sesame Street: Elmo Loves You!,[Family],0.000
...,...,...,...,...
901412,1255060,Imago,NonGiven,0.000
901413,1255061,Justice League: TaskForce (Part One),NonGiven,0.000
901414,1255062,Demon Castle,NonGiven,0.000
901415,1255063,"Grounds of Coherence #1, but this is the langu...",NonGiven,0.000
901416,1255064,Fort-Da Game,[Drama],0.000